!!!
%html
%head
  %title Escritoire | Your life's work!
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  = csrf_meta_tags
%body
  %header
    .header_inner
      = link_to "Escritoire", root_path, id: "logo"
      
      %nav
        - if user_signed_in?
          = link_to "Create Doc", new_doc_path
          = link_to "Sign Out", destroy_user_session_path, method: :delete
        - else
          = link_to "Log In", new_user_session_path
  
  .wrapper_with_padding
    %p.notice= notice
    %p.alert= alert
  
  = yield